# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


.dart_tool
pubspec.lock
flutterapp/.dart_tool
flutterapp/pubspec.lock
.vscode
.idea
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
